<div class="category-container">
  <div class="category-add">
    <h2 class="section-title">📌 Yeni Kategori Ekle</h2>
    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" class="form">
      <div class="form-group">
        <label for="categoryName">Kategori Adı:</label>
        <input
          type="text"
          id="categoryName"
          class="input-field"
          placeholder="Kategori adı giriniz..."
          formControlName="name"
        />
      </div>
      <button type="submit" class="button button-primary">Ekle</button>
    </form>
  </div>

  <div class="category-list">
    <h2 class="section-title">🗑️ Kategorileri Yönet</h2>
    <div class="categories">
      @for (category of categories; track $index) {
      <div class="category-card">
        <div class="category-name">{{ category.name }}</div>
        <button class="delete-btn" (click)="deleteCategory(category.id)">
          Kaldır
        </button>
      </div>
      }
    </div>
  </div>
</div>
