@if(currentUser$ | async; as user){
<div class="profile-container">
  <div class="profile-header">
    <h2>Profil Sayfası</h2>
    <p>Merhaba, {{ user.username }}</p>
  </div>
  <app-loader></app-loader>

  @if(!loaderService.isLoading){

  <div class="profile-section">
    <h3>Okuduğun Bloglar</h3>
    @if (readBlogs.length > 0) {
    <div class="blog-list">
      @for (blog of readBlogs; track $index) {
      <div class="blog-card" [routerLink]="['/detail', blog.blogs.id]">
        <h4>{{ blog.blogs.blog_title }}</h4>
        <p>{{ blog.blogs.categories.name }}</p>
      </div>
      }
    </div>
    }@else {
    <p class="no-action">Henüz blog okumadın.</p>
    }
  </div>

  <div class="profile-section">
    <h3>Kendi Blogların</h3>
    @if(writtenBlogs.length > 0){
    <div class="blog-list">
      @for (blog of writtenBlogs; track $index) {
      <div class="blog-card" [routerLink]="['/detail', blog.id]">
        <h4>{{ blog.blog_title }}</h4>
        <p>{{ blog.categories.name }}</p>
        <i
          class="fa-solid fa-pen edit-icon"
          [routerLink]="['/blog-add', blog.id]"
        ></i>
      </div>
      }
    </div>
    }@else {
    <p class="no-action">Henüz bir blog yazmadın.</p>
    }
  </div>
  }
</div>
}
