<div class="main">
  <h3 class="comment-title">One Comment</h3>

  <div class="comments">
    @for (comment of comments; track $index) {
    <div class="comment">
      <img
        class="comment-image"
        src="https://secure.gravatar.com/avatar/efb25e5b3c34bbf561a0792a7fddcac0?s=100&d=mm&r=g"
      />
      <div class="comment-content">
        <div class="top">
          <h5 class="commenter">{{ comment.users.username }}</h5>
          <div class="flexible">
            <span class="date">{{ comment.date }}</span>
            <span class="reply">Reply</span>
          </div>
        </div>
        <div class="bottom">
          <p>
            {{ comment.content }}
          </p>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="add-comment">
    <h2>Leave a Replys</h2>

    <form>
      <div class="form-bottom">
        <textarea placeholder="Add Comment"></textarea>
      </div>
      <button class="button button-primary">Post Comment</button>
    </form>
  </div>
</div>
