<app-blog-features></app-blog-features>
<div class="container">
  <app-blogs [blogList]="blogList"></app-blogs>
  <div class="pagination">
    <div
      class="prev pag-button"
      (click)="changePage(selectedPage - 1)"
      [ngStyle]="{ opacity: selectedPage === 1 ? '0' : '1' }"
    >
      Prev <
    </div>
    <div class="pageNumbers">
      @for (item of getPageArray(); track $index) {
      <button
        class="pageNumber"
        (click)="changePage(item)"
        [ngClass]="this.selectedPage === item ? 'active' : ''"
      >
        {{ item }}
      </button>
      }
    </div>
    <div
      class="next pag-button"
      (click)="changePage(selectedPage + 1)"
      [ngStyle]="{ opacity: selectedPage === numberOfPage ? '0' : '1' }"
    >
      Next >
    </div>
  </div>
</div>
