@import "../../../variables.scss";

.main {
  padding: 100px;
  background-color: $primary-light;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;

    .content-type {
      font-size: 14px;
      font-weight: bold;
      padding: 8px 15px;
      background-color: lighten($primary-color, 32%);
      color: $primary-color;
      text-transform: uppercase;
    }

    .content-title {
      font-size: 80px;
      font-weight: bold;
    }

    .author-blog {
      display: flex;
      width: 100%;
      .author,
      .blog {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: bold;
        font-size: 16px;

        .blog-icon,
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-bottom: 10px;

          i {
            font-size: 25px;
            color: $primary-color;
          }
        }
      }
    }

    .blog-preview {
      max-width: 515px;
    }

    .buttons {
      display: flex;
      gap: 10px;
    }
  }

  img {
    max-height: 650px;
    border-radius: 25px;
  }
}
