<div
  class="modal-overlay"
  *ngIf="modalService.modalOpen$ | async"
  (click)="modalService.closeModal()"
>
  <button class="close-btn" (click)="modalService.closeModal()">✖</button>

  <div
    class="modal-content animate__animated animate__fadeInDown"
    (click)="$event.stopPropagation()"
  >
    <h2 *ngIf="(modalService.mode$ | async) === 'login'">Giriş Yap</h2>
    <h2 *ngIf="(modalService.mode$ | async) === 'register'">Kayıt Ol</h2>

    <form
      *ngIf="(modalService.mode$ | async) === 'login'"
      [formGroup]="loginForm"
      (ngSubmit)="onLogin()"
    >
      <div class="form-control">
        <p class="form-text">Username or Email Adress</p>
        <input type="email" formControlName="emailLG" />
      </div>
      <div class="form-control">
        <p class="form-text">Password</p>
        <input type="password" formControlName="passwordLG" />
      </div>
      <div class="flex">
        <div class="remember">
          <input type="checkbox" />
          <label for="remember">Remember Me</label>
        </div>
        <a class="reset-password">Forgot Password?</a>
      </div>
      <button type="submit" class="button button-primary">Giriş Yap</button>
      <p>Hesabınız yok mu? <a (click)="setMode('register')">Kayıt olun</a></p>
    </form>

    <form
      *ngIf="(modalService.mode$ | async) === 'register'"
      [formGroup]="registerForm"
      (ngSubmit)="onRegister()"
    >
      <div class="form-control">
        <p class="form-text">Username</p>
        <input type="text" formControlName="usernameRG" />
      </div>
      <div class="form-control">
        <p class="form-text">Email</p>
        <input type="email" formControlName="emailRG" />
      </div>
      <div class="form-control">
        <p class="form-text">Password</p>
        <input type="password" formControlName="passwordRG" />
      </div>
      <button type="submit" class="button button-primary">Kayıt Ol</button>
      <p>
        Zaten hesabınız var mı? <a (click)="setMode('login')">Giriş yapın</a>
      </p>
    </form>
  </div>
</div>
