@import "../../../variables.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  border-top: 2px solid $primary-light;

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    font-size: 16px;

    i {
      width: 15px;
      height: 15px;

      font-size: 14px;
      color: $gray-color;
      cursor: pointer;
    }
  }

  .nav-links {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
  }

  .submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    font-size: 13px;
    background-color: $primary-color;
    color: $primary-light;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    width: 114px;
    height: 35px;

    &:hover {
      background-color: darken($primary-color, 15%);
      transition: all 0.3s ease;
    }
  }
}
