<nav>
  <div class="social-icons">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-square-x-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>

  <ul class="nav-links">
    <li><a [routerLink]="['']">Home</a></li>
    <li><a [routerLink]="['blog-list']">Blogs</a></li>
    @if(currentUser$ | async; as user){
    <li><a [routerLink]="['blog-add']">Add Blog</a></li>
    @if (user.role === 'admin') {
    <li><a [routerLink]="['category-edit']">Add Category</a></li>
    } }
  </ul>

  <div class="submit-button">Submit Recipe</div>
</nav>
