@import "../../../variables.scss";

.main {
  background-color: $primary-light;
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 20px;

  .blog-category {
    color: $primary-color;
    background-color: lighten($primary-color, 30%);
    border-radius: 2px;
    padding: 2px 8px;
  }

  .blog-title {
    font-size: 50px;
    max-width: 750px;
    font-weight: bold;
    text-align: center;
  }

  .author {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $primary-color;
    font-size: 12px;
    gap: 10px;

    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    img {
      width: 25px;
      height: 25px;
    }
  }
}
