<div class="main">
  <h3 class="main-title">Blogs By Category</h3>
  <p class="main-text">
    Fusce dignissim blandit justo, eget elementum risus tristique. Nunc lacus
    lacus, sit amet accumsan est pulvinar non. Praesent tristique enim lorem.
    Phasellus a auctor lacus.
  </p>
  <div class="categories">
    @for (category of categories; track $index) {
    <div class="category">
      <img
        src="https://media.istockphoto.com/id/1137312508/tr/foto%C4%9Fraf/y%C3%BCksek-%C5%9Feker-seviyesinde-%C3%BCr%C3%BCn-%C3%A7e%C5%9Fitlili%C4%9Fi.jpg?s=2048x2048&w=is&k=20&c=rUYgrvMeMQ2lAnhfeBpp-DOITbV9Lsh4ZeQaHrXpGtk="
        class="category-img"
      />
      <div class="content">
        <div class="category-number">32</div>
        <p class="category-name">{{ category.name }}</p>
      </div>
    </div>
    }
  </div>
</div>
