<div class="main">
  <h5 class="secondary-title">MEET CHEFS AROUND THE WORLD</h5>
  <h3 class="main-title">
    Join a Global Community of Change Makers and People Like You
  </h3>
  <div class="flex">
    <div class="flex-item">
      <p class="number">2,000</p>
      <p class="title">UNIQUE RECIPES</p>
    </div>
    <div class="flex-item">
      <p class="number">2,000</p>
      <p class="title">UNIQUE RECIPES</p>
    </div>
    <div class="flex-item">
      <p class="number">2,000</p>
      <p class="title">UNIQUE RECIPES</p>
    </div>
  </div>
</div>
